
* {
  -webkit-box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 18pt;
  margin: 20px;
}

#wrapper {
  /*width: 600px;*/
  /*margin: 0 auto;*/
  text-align: center;
  letter-spacing: -1px;
}

a {
  color: navy;
}

#canvas {
  margin: 0 auto;
  padding: 10px 0;
}

#board, #labels {
  padding-top: 15px;
  padding-bottom: 15px;
}

#board {
  position: relative;
}

#cursor {
  border-left: 2px solid blue;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  opacity: 1;
  /*display: none;*/
}

#labels, #board, .cell {
  display: inline-block;
}
#labels, #board {
  vertical-align: top;
}

.label {
  text-align: right;
  position: relative;
  top: 1px
}

.cell {
  border-style: solid;
  border-color: silver;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  cursor: pointer;
  position: relative;
}
.cell.first {
  border-left-width: 1px;
}
.cell.last {
  border-right-width: 1px;
}
.cell > div {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.cell.on {
  border-color: black;
  background-color: black;
}

.cell:hover > div,
.cell.selected > div {
  display: block;
}
.cell:not(.on).selected {
  border-color: rgb(0,200,0);
}
.cell:not(.on) > div {
  color: rgb(0,200,0);
}
.cell.on.selected {
  border-color: rgb(255,0,0);
}
.cell.on > div {
  color: rgb(255,0,0);
}

#actions a {
  padding-right: 30px;
  font-size: 25pt;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
}
#actions a.disabled {
  opacity: 1;
  color: rgba(255,255,255,0.7);
  text-shadow: -1px -1px 0px hsl(0,0%,80%);
}
#actions a:not(.disabled):hover {
  opacity: 1;
}

#action-next {
  color: #FFB60A;
  margin-left: 30px;
}
#action-keep {
  color: #00E02D;
}
#action-drop {
  color: #FA0000
}
